# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
trash/

# Other files and folders
.settings/

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
data

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
